


@media only screen and (min-width: 992px) {

	.f_hide {
		display: none;
	}

}

@media only screen and (max-width: 1240px) {
  
  .header .header_right nav ul li a{
  	font-size: 14px;
  }

  .header .header_right nav ul li:not(:last-child) {
    margin-right: 29px;
}

.main_logo {
	img {
		width: 90px;
	}
}

}


@media only screen and (max-width: 1100px) {
.header .header_right nav ul li a{
  	font-size: 13px;
  }

  .header .header_right nav ul li:not(:last-child) {
    margin-right: 25px;
}

.header .header_right nav ul li a.nav_dropdown:after {
  
    top: 2px;
    right: -17px;
    width: 15px;
    height: 15px;
}
.header .header_right .header_search {
    margin: 0 9px 0 8px;
    cursor: pointer;
}
}


@media only screen and (max-width: 992px) {

	.insight_tab_wrapper .insight_tab .insight_tab_img img {
		height: 180px;
	}
	.copyright  {
		padding: 13px;
	}
	.copyright div {
		flex: 0 0 100%;
		max-width: 100%;
		justify-content: center !important;
	}

	.footer_wrapper {

	&>div {

			flex: 0 0 100% !important;
			max-width: 100% !important;
			display: flex;
		    flex-direction: column;
		    align-items: flex-start;
		}
	}

	.footer_subscribe {
		margin: 25px 0;
	}
.footer_wrapper {

    padding: 25px 7px 10px 20px;
   
}
.header_right {

	nav {

	display: none;
	}

	.language_bar {
		display: none;
	}
}


.main_content .main_large_title * {
  
    font-size: 28px;
    line-height: 36px;
}
.main_content .main_bottom_title span {
  
    font-size: 30px;
}

.insight_tab_wrapper .insight_tab {
 
    border: 1px solid #17004C !important;
    max-width: 70%;
    flex: 0 0 70%;
    transition: all .3s;
    margin: 0px auto;
}

.latest_news .d_flex .news_section {
  max-width: 70%;
    flex: 0 0 70%;
       margin: 0px auto;
}
.insight_tab_wrapper .insight_tab .insight_tab_title h3 {
  
    line-height: 26px;
}
.insight_tab_wrapper .insight_tab .insight_tab_title h3 a {
    font-size: 28px;
   
}

.subscribe_fluid {
    padding: 29px 20px 30px 15px;
}
.latest_news .d_flex .news_section .news {
 
    padding-left: 20px;
}


.news .main_title h1 {
    color: #17004C;
    font-size: 30px;
    font-family: "Mark-Bold", sans-serif;
}
.news .main_title {
    padding: 10px 0 15px;
}
.latest_news .d_flex .news_section .news .share {
 
    bottom: -36px;
}
.latest_news .d_flex .news_section .latest_news_info {
    padding: 46px 20px 5px 20px;
 
}
.latest_news .d_flex .news_section .news_date {
   
    padding: 19px;
}
.latest_news .d_flex .news_section .news_img .news_main_img img{
height: 200px;
}

.link_arrow_box {
	opacity: 1 !important;
}
}



@media only screen and (max-width: 576px) {

.insight_tab_wrapper .insight_tab {
    padding: 15px;
    border: 1px solid #17004C !important;
    max-width: 100%;
    flex: 0 0 100%;
    margin: 0px auto;
}
.latest_news .d_flex .news_section {
  max-width: 100%;
    flex: 0 0 100%;
   
}

}