


@media only screen and (min-width: 992px) {

	.f_hide {
		display: none;
	}

}

@media only screen and (max-width: 1240px) {
  
  .header .header_right nav ul li a{
  	font-size: 14px;
  }

  .header .header_right nav ul li:not(:last-child) {
    margin-right: 29px;
}

.main_logo {
	img {
		width: 90px;
	}
}

}


@media only screen and (max-width: 1100px) {
.header .header_right nav ul li a{
  	font-size: 13px;
  }

  .header .header_right nav ul li:not(:last-child) {
    margin-right: 25px;
}

.header .header_right nav ul li a.nav_dropdown:after {
  
    top: 2px;
    right: -17px;
    width: 15px;
    height: 15px;
}
.header .header_right .header_search {
    margin: 0 9px 0 8px;
    cursor: pointer;
}
}

@media only screen and (max-width: 1272px) {


.header .header_right nav ul li a {
    font-family: "Mark-Bold", sans-serif;
    font-size: 14px;
    color: #17004C;
    font-weight: bold;
}
}


@media only screen and (max-width: 1145px) {
.header .header_right nav ul li a {
    font-size: 13px;
}


}

@media only screen and (max-width: 1030px) {
.header .header_right nav ul li a {
    font-size: 12px;
}


}
@media only screen and (max-width: 992px) {

    .business_form{

        .form-select {
            width: 100%;

        label input{
                width:unset !important;
            }

        }

        .d-flex{
            flex-direction: column;
            width: 100%;

            .text {
                width: 100%;
            }
        }

        textarea{
            width: 100%;
        }
    }

    .main_news_text {
        p {
            img {

                    width: 90% !important;
            }
        }
        table {
            img {
                    width: 90% !important;

            }

            tr {
                display: flex;
                flex-direction: column;


                img {
                    width: 90% !important;
                }

                td {
                    width: 100% !important;
                }
            }
        }
    }

.products_bottom_content {
  .slick-dots li {
    margin: 0 5px;
    background: #00003c;
    border-radius: 50%;
    
    &.slick-active:after{

         content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    border: 1px solid #00003c;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    }
}
.slick-dots li {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
  
}


    .main_container section{
        width: 100%;
    }

    .vac_apply_button_box {
        display: block !important;
    }

    .vacancy_inner_container {
    
    padding-top: 20px;
    padding-bottom: 40px;
    margin-top: 10px;
    flex-wrap: wrap;
   
}
.vac_apply_button_box {
    height: auto !important;
}
.vacancy_inner_container .vac_inner_text {
    flex-grow: 1;
    padding-right: 0px;
}

    .vacancy_list_container {
  
    margin: 20px auto 0px;
    padding-bottom: 50px;
}

    .vacancy_dropdowns .vacancy_dropdowns_box {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .vacancy_dropdowns {
        flex-wrap: wrap;
    }

    .form_container{
        padding: 40px 10px;

        form{
            width: 100%;
            padding: 15px;

            input{
                width: 100% !important;
            }

            .error_text{
                width: 95% !important;
            }

           .form-group, .form_text {
                width: 100%;
            }

            .fileUpload{
                padding: 7px 10px;
            }
        }
    }



    .header .header_right {

        padding: 0;
    }

    .header {
        padding: 20px 10px;
    }

    .office-container, .office_info{
        width: 90% !important;
    }

    .error_page {
        height: 60vh;
        padding: 5%;
        min-height: unset;

        .error{
            img{
                display: none;
            }
        }

        .b_img {
            display: none;
        }

    }

    .news_page{
        flex-direction: column;

        .news_section{
            max-width: 100% !important;
        }
    }

    .white_bg {
        position: absolute;
        top: 70px;
        width: 100%;
        height: 60%;
        background-color: white;
    }

    .team_container .slick-dots{
        display: block !important;
    }
    
    .subscribe_box button  {
        padding: 9px 15px
    }

    .subscribe_box .top-form {
        flex-wrap: wrap;
    }

.insights_subscribe .subscribe_box{
    max-width: 100%;
    flex-direction: column;
    padding: 15px;

}

.insights_subscribe .subscribe_box .subscribe_form {
    width: 100%;
}

.mobile_nav li a {
    font-size: 18px;
}

.mobile_header .language_bar .language_container {
    top: 48px;
    padding: 10px 18px 10px 16px;
}

.main_search {
    position: fixed;
    top: 87px;
    width: 100vw;
    height: calc(100vh - 87px);
    z-index: 99999;
    background: $bg-color;
    visibility: hidden;
    padding-top: 55px;
    align-items: flex-start; 
    &.active {
        visibility: visible;
    }
}
.main_search .main_search_close {
   
    top: -69px;
  
}


    .team_container {
    padding: 0px 10px 70px;
}

	.insight_tab_wrapper .insight_tab .insight_tab_img img {
		height: 180px;
	}
	.copyright  {
		padding: 13px;
	}
	.copyright div {
		flex: 0 0 100%;
		max-width: 100%;
		justify-content: center !important;
	}

	.footer_wrapper {
        background-color: #fff;
	&>div {

			flex: 0 0 100% !important;
			max-width: 100% !important;
			display: flex;
		    flex-direction: column;
		    align-items: flex-start;
		}
	}

	.footer_subscribe {
		margin: 25px 0;
	}
.footer_wrapper {

    padding: 25px 7px 10px 20px;
   
}
.header_right {

	nav {

	display: none;
	}

	.language_bar {
		display: none;
	}
}


.slider_content .main_large_title * {
  
    font-size: 28px;
    line-height: 36px;
}
.slider_content .main_bottom_title span {
  
    font-size: 30px;
}

.insight_tab_wrapper .insight_tab {
 
    border: 1px solid #17004C !important;
    max-width: 70%;
    flex: 0 0 70%;
    transition: all .3s;
    margin: 0px auto;
}

.latest_news .d_flex .news_section {
  max-width: 70%;
    flex: 0 0 70%;
    margin: 10px auto;
}
.insight_tab_wrapper .insight_tab .insight_tab_title h3 {
  
    line-height: 26px;
}
.insight_tab_wrapper .insight_tab .insight_tab_title h3 a {
    font-size: 28px;
   
}

.subscribe_fluid {
    padding: 29px 20px 30px 15px;
}

.subscribe_fluid .subscribe_box {
    max-width: unset;
    width: 100%;
}
.latest_news .d_flex .news_section .news {
 
    padding-left: 20px;
}


.news .main_title h1 {
    color: #17004C;
    font-size: 30px;
    font-family: "Mark-Bold", sans-serif;
}
.news .main_title {
    padding: 10px 0 15px;
}
.latest_news .d_flex .news_section .news .share {
 
    bottom: -36px;
}
.latest_news .d_flex .news_section .latest_news_info {
    padding: 46px 20px 5px 20px;
 
}
.latest_news .d_flex .news_section .news_date {
   
    padding: 19px;
}
.latest_news .d_flex .news_section .news_img .news_main_img img{
height: 200px;
}

.link_arrow_box {
	opacity: 1 !important;
}
.main_title span {
  
    font-size: 30px;
}
.bordered_title .c_container {
	padding-left: 25px;
}
.main_search form {
    width: 95%;
    position: relative;
    margin-top: 15px;
}
.main_search .main_search_title * {
    font-family: "Mark-Bold", sans-serif;
    font-size: 14px;
}
.home_news {
   
    padding: 0 0 40px 0;
   
}

.breadcrumb {
    display: none;
}

.main_news .main_title h1 {
    font-size: 29px;
}


.main_news .main_title:after {
    content: "";
    position: absolute;
    top: 0%;
     transform: unset;
    left: -2px;
    width: 8px;
    height: 53%;
    background-color: #17004C;
}
.news_container .main_news .news_info span:first-child {
    padding-left: 0;
}
.news_container .main_news .news_info {

    flex-wrap: wrap;
    margin-top: 12px;

 .share {
       margin-left: 0px;
       margin-top: 10px;
    width: 100%; 
}




}

.latest_news {
    margin-top: 0px;
    margin-bottom: 30px;
}
.latest_news .d_flex {
   
    padding: 0 10px;
}
.news_container .main_news .news_info span:not(:first-child):before{
    width: 11px;
}
.news_container .main_news .news_info span {
    padding: 0 9px;
    position: relative;
}

.news_container .main_news {
    margin: 15px auto;
    position: relative;
}

.main_news_img {
    order: -1;
    width: 100%;
    overflow: hidden;
}
.news_container {
    display: flex;
    flex-direction: column;
}
.news_container .main_news_text {
    padding-top: 0px;
}

body {
    background-color: $bg-color;
}
.team_container .team_section .team_member {
    border: 1px solid #17004C;
    padding: 20px;
    width: 50%;
    transition: .3s;
    background-color: #fff;
}

.team_container .team_section .team_member .member_link {

    height: 280px;
   
}
.team_member .main_news .main_title:after {
height: 100%;
}
.product_container .main_img img {
    height: 270px;
}

.product_container .product_section {
 
    padding: 0 20px;
}

.common_dropdown .office_info {
  
    padding: 10px 10px;
}

.office-container .office_box {

    padding: 15px 10px;
    
}
.product_container .product_section .main_title {
  
    margin: 10px 0;
}

.team_member_container .about_img {
    padding: 10px;
}

.team_member_container {
    margin-top: 50px;
}

.team_member_container .biography {
    width: 100%;
    margin: 0px auto 30px;
}

.team_container .center{
    display: none;
}

.team_member_container .team_slider .slick-slide a img {
   
    width: 100%;
}

.team_member_container .team_member .main_news {
    padding-left: unset;
}

.team_member_container .team_member {
    display: flex;
    flex-direction: column-reverse;

    .competence{
        display: none;
    }

    .share {
        margin: 20px 0 !important;
    }

    .member_link{

        img{
            width: 100%;
        }
    }

   
}

.competence_mobile{
    padding: 25px 0 10px;
    display: block !important;

    h3{
        text-align: center;
        padding-bottom: 10px
    }

    span{
        @include family(title);
        color: $text-color;
        padding-right: 20px;
    };
}


    .search_result{
        visibility: unset;  


        form{
            width: 100% !important;
        }

      
    }

    .search_container{
        .d_flex .news_section {
            
            max-width: 100% !important;
            
        }
    }

    .search_result .main_search_container {
        width: 100% !important;
        max-width: unset !important;
        padding: 3%;
    }

    .slider_content > div {
        height: 60vh; 
    }



    .project-container{
        margin-top: 30px;

        .insight_tab{
            margin-bottom: 20px;

            .insight_tab_title {
              min-height: unset !important;
            }
        }
    }



}



@media only screen and (max-width: 576px) {


    .pagination a{
        padding: 4px 12px;
    }

.product_container .main_img img {
    height: 170px;
}


.insight_tab_wrapper .insight_tab {
    padding: 15px;
    border: 1px solid #17004C !important;
    max-width: 100%;
    flex: 0 0 100%;
    margin: 0px auto;
}
.latest_news .d_flex .news_section {
  max-width: 100%;
    flex: 0 0 100%;
   
}

.team_container .team_section .team_member {
    border: 1px solid #17004C;
    padding: 20px;
    width: 100%;
    transition: .3s;
    background-color: #fff;
}


.project-container{
    .insight_tab{
        padding-bottom: 80px;
        margin-bottom: 20px;
    }
}

}

