/* Basic Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline:none;
    list-style-type:none;
     border: none;
     text-decoration: none;

}

*:focus {
    outline: none;
}

ul,h1,h2,h3,h4 {
    margin: 0px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
select::-ms-expand {
    display: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

body {
    padding-top:86px;
}

$main-purple:#161340;
$light-purple:#643695;
$bg-color:#F1F1F1;
$text-color:#17004C;
 
$border-color:#D1D1D1;

.c_container {
    
    max-width:1250px;
    margin:0 auto;
}

.c_bg {
    
    background-color:$bg-color;
}

.p_left20 {
    padding-left:20px !important;
}


.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  
  .pagination a {
    color: $text-color;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid $text-color;
    font-weight: bold;
   
  }
  
  .pag_active {
    background-color: $text-color;
    color: white !important;
  
  }
  
 