.breadcrumb{
    @include family(text);
    background-color: unset;
    padding: 0;
    justify-content: center;


    .active{
        opacity: 1;
    }

    
    li:not(:last-child):after {
        content: url(../images/Path.png);
        padding: 0 15px;
    }
	
    a{
        color: $text-color;
        font-size: 16px;
        &.opacity {

            opacity: .7;
        }
    }
    
  
}


.main_news_text{
    list-style: disc !important;
    margin-left: 18px;

}

.main_title{
    padding: 20px;
    line-height: 30px;

    &.center {

        text-align: center;
    }

    h1{
        color: #17004C;
        font-size: 29px;
        @include family(title);
    }

    span{
        color: #17004C;
        font-size: 38px;
    }

    &:after{
        content:"";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -2px;
        width: 8px;
        height:100%;
        background-color: $text-color;
    }


}

.bordered_title, .center{
    &:after{
        display: none;
    }
}


.main_title{
            padding: 30px 0 15px;

            .bold{
                @include family(title);
            }
        }


.insight_tab_wrapper {
 
    .insight_tab {
           padding: 30px;
        border: 1px solid $text-color;
        max-width: 33%;
        flex:0 0 33%;
        transition: all .3s;

        .insight_tab_text {

            word-break: break-word;

            * {
                color: $text-color;
                transition: all .3s;
            }
        }

        .insight_tab_title {
            padding-left: 30px;
            margin-bottom: 30px;
            h3 {
            position: relative;

          

            &:after{
                position: absolute;
                top: 50%;
                left: -30px;
                width: 8px;
                background-color: $text-color;
                content: "";
                height: 110%;
                transform: translateY(-50%);
                transition: all .3s;
            }


                a {
                font-size: 29px;
                transition: all .3s;
                @include family(title);
                    color: $text-color;
                  

                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    line-height: 35px;
                    padding-bottom: 3px;
                    
    

                }
            }
        }

        .insight_tab_date{ 

            display: flex;
            justify-content: space-between;
            margin:15px 0 20px;

            span {
                transition: all .3s;
                color: $text-color;
            }

         }

        .insight_tab_img {

            img {
                width: 100%;
                height: 220px;
                object-fit: cover;
            }
        }

        .share_img {
            transition: all .3s
        }

        svg path {
            transition: all .3s;
        }

        .common_share_boxes .share_img {
            border-radius: 50%;
        }
        &:hover{
            background-color: $text-color;

            .insight_tab_date * {
                color: #fff;
            }
            .insight_tab_title * {
                color: #fff;
            }

            .insight_tab_text * {
                color: #fff;
            }
            .insight_tab_text {
                color: #fff;
            }

            .insight_tab_title h3:after{
                background-color: #fff !important;
            }

            .common_share_boxes .fb_share path{

                fill: #fff;
            }

           .common_share_boxes .share_img {
                /*background-color: $text-color;*/

                #Ellipse_1 {
                    fill: $text-color;
                }
                
                #share_2_ path {

                    fill: #fff !important;
                }
            }
        }
    }
}

.common_share_boxes {
    display: flex;
    margin-top: 15px;

    &>div:first-child{
        margin-right:15px   ;
    }
}

.d_flex {
    display: flex;
    flex-wrap: wrap;
}

.insight_tab:not(:last-child){

    border-right: unset;
}

.subscribe_fluid_wrapper {
    padding: 40px 0;
}
.subscribe_fluid {

    padding: 30px 20px 40px 20%;
    background-image: url("../images/subscribe.jpg");
    background-repeat: no-repeat;
    background-size: cover;

   
}



.subscribe_box {

    max-width: 700px;
    width: 100%;
    .subscribe_text {
           margin: 5px 0 20px;
    }
    form {
        position: relative;
        border: 1px solid #E6E6E6;
    }

    .sub-bottom{
        display: flex;
        justify-content: space-between;

        .multiselect{
            border: 1px solid #E6E6E6;
        }

        select{
            width: 100%;    
            padding: 8px 14px;
            cursor: pointer;
        }
    }


    .top-form{
        border: unset;
        display: flex;

        input{
            border:1px solid #17004C;
        }

        .sub-form-input{
            width:90%;
        }
        
    }



    .sub-top{
        display: flex;
        justify-content: space-between;
        width: 100%;

        select{
            width: 100%;
            background-repeat: no-repeat;
            padding: 8px 14px;
            background-position-x: 95%;
            background-position-y: center;
            cursor: pointer;
            background-color: transparent;

        }
        
    }

button {
  
    z-index: 10;
    background-color: #17004C;
    border: none;
    padding: 9px 28px;
    cursor: pointer;
    outline: none;
}
    input{
        color: $text-color;
        padding: 6px 5px 11px 15px;
        border-bottom: 1px solid #E6E6E6;
        width: 100%;
        background-color: transparent;

        &::placeholder{
            color:$text-color;
        }
    }

    * {
        color: $text-color;
    }
    .subscribe_box_title {

        * {
            @include family(title);
            font-size: 28px;
        }
    }


    .subscribed{
        padding: 8px 14px;

        span{
            color:#058809 ;
        }
    }

    .disable{
        display: none;
    }
}


.bordered_title {


    border-bottom: 1px solid $text-color;
    border-top: 1px solid $text-color;
}
.main_title:after {
    top: 49%;
}


 

  .main_title.unborder {


    &:after{
        content:unset !important;
    }

  }

.share_click {
    position: relative;
    
    &:hover{
        .share_box_inner {
            display:block !important;
        }
    }
}

  .share_box_inner {
 position: absolute;
    top: -99px;
    left: 50%;
    background: #fff;
    padding: 11px 8px;
    z-index: 10;
    display: none;
    transform: translateX(-53%);
    border-radius: 5px;
    line-height: 25px;
    max-width: 110px;

    span:hover{
        border-bottom: 1px solid #643695;
        cursor: pointer;
        color: #643695;
    }



    &:after{
content: "";
    background-color: #fff;
    width: 13px;
    height: 13px;
    position: absolute;
    top: calc(100% - 10px);
    left: 45px;
    transform: rotate(
45deg
);
    }

    &:before{
       height: 12px;
    width: 100%;
    position: absolute;
    top: calc(100% + 1px);
    content: "";
    left: 0;
    background-color: transparent;
    }
  }


 
  .team_container .slick-dots{
      display: none  !important;
  }


  .slick-dots{
    bottom: -35px;

    li{
        margin: 0 5px;
    }
}


.product_slider{


    .slick-dots {
        bottom: 15px;
    }


    .slick-dots li.slick-active button:before{
        border-radius: 50%;
        color: white;
        border: 1px solid white;
    }
    
    .slick-dots li button:before {
        opacity: 1;
        font-size: 30px;
        color: white;
    
        
    }
}


.form_container{
    background-color: #F1F1F1;
    padding: 70px;
    

    
    form{
        width: 60%;
        margin: 0 auto;
        background: white;
        text-align: center;
        padding: 30px;


        .file{
            position: relative;
            display: inline-block;
            cursor: pointer;
            height: 2.5rem;
            width: 70%;

            .file-custom{
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                z-index: 5;
                height:52px;
                padding: .5rem 1rem;
                line-height: 1.5;
                color: #555;
                background-color: #fff;
                border: 1px solid $border-color;
                display: flex;
                align-items: center;
              
                
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;

                &:before{
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    bottom: -.075rem;
                    z-index: 6;
                    display: block;
                    content: "Browse";
                    height: 2.5rem;
                    padding: 7px 20px;
                    line-height: 1.5;
                    color: white;
                    background-color:$text-color;
                    border: .075rem solid #ddd;
                   
                }

                &:after {
                    content: "File Upload";
                    position: absolute;
                    left: 12px;
                    font-size: 16px;
                }
            }
            
        }


        .error{

            input{
                border: 1px solid #FFB4BB !important;
            }

            .error_text{
                width: 65%;
                text-align: left;
                margin: 0 auto;
                color: #FF243A;
                font-size: 14px;              
                padding-bottom: 8px;
                display: block !important;
            }
        }

        .text{

            input{
                font-size:16px;
                color: $text-color;
                border: 1px solid $border-color;
                padding: 15px;
                width: 70%;
                margin: 10px 0;
            }

            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
            }

            .error_text{
               display: none;
            }

            


        }

        .form_text{
            width: 70%;
            text-align: left;
            margin: 20px auto;
            color: $text-color;
        }

        button{
            background: $text_color;
            color: white;
            padding: 15px 65px;
            outline: none;
            cursor: pointer;
            margin-top: 10px;
        }

        .form-group{
            width: 70%;
            margin: 10px auto;
            height: 60px;
        }

                 
                .form-control
                {
                    width: 100%;
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    z-index: 5;
                    height:52px;
                    padding: .5rem 1rem;
                    line-height: 1.5;
                    color: #555;
                    background-color: #fff;
                    border: 1px solid $border-color;
                    display: flex;
                    align-items: center;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    box-shadow: none;
                }

                
              

                .fileUpload {
                    overflow: hidden;
                    position: absolute;
                    top: 6px;
                    right: 5px;
                    bottom: -.075rem;
                    z-index: 6;
                    display: block;
                    content: "Browse";
                    height: 2.5rem;
                    padding: 7px 20px;
                    line-height: 1.5;
                    color: white;
                    background-color:$text-color;
                    border: .075rem solid #ddd;
                }
                .fileUpload input.upload {
                    position: absolute;
                    top: 0;
                    right: 0;
                    margin: 0;
                    padding: 0;
                    font-size: 20px;
                    cursor: pointer;
                    opacity: 0;
                    filter: alpha(opacity=0);
                }
    }
}


.error{

    input{
        border: 1px solid #FFB4BB !important;
    }

    .error_text{
        width: 65%;
        text-align: left;
        margin: 0 auto;
        color: #FF243A;
        font-size: 14px;              
        padding-bottom: 8px;
        display: block !important;
    }
}



.main_large_title {
    font-size: 75px !important;
}

.team_container .team_section .team_member .main_news .news_info {
font-weight: bold;
}

.team_member_container .team_member .main_news .competence .comp_text span {
    font-weight: bold;
}


.team_member_container .biography {
    width: 85%;
    margin: 0 auto 70px !important;
}

.main_title h1 {
    font-size: 29px !important;
}

.d_flex .news_section .news .main_title{
    min-height:120px;
}

@media only screen and (max-width: 992px) {
    .d_flex .news_section .news .main_title{
        min-height:unset !important;
    }    
}



.multiselect {
    width: 100%;
    cursor: pointer;
    color: #17004C;
    border: 1px solid #17004C;
}

.form-select{
    width: 70%;
    margin: 5px auto;
    color: #17004C;
    border: 1px solid #D1D1D1;
        
    select{
        padding: 15px;
    }

    .select-arrow{
        top:13px;
    }

    #checkboxes_3{
        display: none;
        text-align: left;
    }

   
    
}
  
  .selectBox {
    position: relative;
  }
  
  .selectBox select {
    width: 100%;
  }
  
  .overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  #checkboxes {
    display: none;

    input{
        width:unset;
        margin-right: 5px;
    }
  }
  
  #checkboxes label {
    display: block;
    padding: 2px 12px;
    cursor: pointer;
  }


  #checkboxes_2, #checkboxes_3 {
    display: none;

    input{
        width:unset;
        margin-right: 5px;
    }
  }
  
  #checkboxes_2 label {
    display: block;
    padding: 2px 12px;
    cursor: pointer;
  }

  #checkboxes_3 label {
    display: block;
    padding: 2px 12px;
    cursor: pointer;
  }


  .select-arrow{
    position: absolute;
    top: 8px;
    right: 15px;

    img{
        transition: .3s;
    }
  }
  
  
  .rotate{
    transform: rotate(180deg);

}


.business_form{

    input::placeholder{
        color: #17004C;
    }

    textarea{
        width: 70%;
        border: 1px solid #D1D1D1;
        max-height: 150px;
        padding: 15px;
        min-height: 130px;
        resize: none;
        margin-top: 10px;
    }

    .d-flex{
        margin: 0 auto;
        width: 70%;
        justify-content: space-between;

        .text{
            width: 49%;
            input{
                width: 100% !important;
            }

            
        }


    }

   
}



.project-container{

    .insight_tab{
        position: relative;
        padding-bottom: 80px;
        border: 1px solid #17004C;
        margin-bottom: 20px;

        &:hover{
            .bottom-text{
                color: white;
                border-top: 1px solid white;
            }
        }
    }
    
    .insight_tab_wrapper .insight_tab .insight_tab_title{
        margin-top: 20px;
        min-height: 100px;
        overflow: hidden;
    }

    .insight_tab_text {
        word-break: break-word;
        min-height: 100px;
        max-height: 100px;
        overflow: hidden;
        line-height: 20px;

        
    }

    .bottom-text{
        width: 100%;
        position: absolute;
        padding: 20px 30px;
        border-top: 1px solid #17004C;
        bottom: 0;
        left: 0px;
        color: #17004C;

        .bold{
            font-weight: bold;
        }
       
    }

  
    
}


