.breadcrumb{
    @include family(text);
    background-color: unset;
    padding: 0;
    justify-content: center;


    .active{
        opacity: 1;
    }

    
    li:not(:last-child):after {
        content: url(../images/Path.png);
        padding: 0 15px;
    }
	
    a{
        color: $text-color;
        font-size: 16px;
        &.opacity {

            opacity: .7;
        }
    }
    
  
}


.main_title{
    padding: 20px;
    line-height: 30px;

    &.center {

        text-align: center;
    }

    h1{
        color: #17004C;
        font-size: 38px;
        @include family(title);
    }

    span{
        color: #17004C;
        font-size: 38px;
    }

    &:after{
        content:"";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -2px;
        width: 8px;
        height:100%;
        background-color: $text-color;
    }


}

.bordered_title, .center{
    &:after{
        display: none;
    }
}


.main_title{
            padding: 30px 0 15px;

            .bold{
                @include family(title);
            }
        }


.insight_tab_wrapper {
 
    .insight_tab {
           padding: 30px;
        border: 1px solid $text-color;
        max-width: 33%;
        flex:0 0 33%;
        transition: all .3s;

        .insight_tab_text {

            word-break: break-word;

            * {
                color: $text-color;
                transition: all .3s;
            }
        }

        .insight_tab_title {
            padding-left: 30px;
            margin-bottom: 30px;
            h3 {
            position: relative;

          

            &:after{
                position: absolute;
                top: 50%;
                left: -30px;
                width: 8px;
                background-color: $text-color;
                content: "";
                height: 110%;
                transform: translateY(-50%);
                transition: all .3s;
            }


                a {
                font-size: 33px;
                transition: all .3s;
                @include family(title);
                    color: $text-color;
                  

                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    line-height: 35px;
                    padding-bottom: 3px;
                    
    

                }
            }
        }

        .insight_tab_date{ 

            display: flex;
            justify-content: space-between;
            margin:15px 0 20px;

            span {
                transition: all .3s;
                color: $text-color;
            }

         }

        .insight_tab_img {

            img {
                width: 100%;
                height: 220px;
                object-fit: cover;
            }
        }

        .share_img {
            transition: all .3s
        }

        svg path {
            transition: all .3s;
        }

        .common_share_boxes .share_img {
            border-radius: 50%;
        }
        &:hover{
            background-color: $text-color;

            .insight_tab_date * {
                color: #fff;
            }
            .insight_tab_title * {
                color: #fff;
            }

            .insight_tab_text * {
                color: #fff;
            }
            .insight_tab_text {
                color: #fff;
            }

            .insight_tab_title h3:after{
                background-color: #fff !important;
            }

            .common_share_boxes .fb_share path{

                fill: #fff;
            }

           .common_share_boxes .share_img {
                /*background-color: $text-color;*/

                #Ellipse_1 {
                    fill: $text-color;
                }
                
                #share_2_ path {

                    fill: #fff !important;
                }
            }
        }
    }
}

.common_share_boxes {
    display: flex;
    margin-top: 15px;

    &>div:first-child{
        margin-right:15px   ;
    }
}

.d_flex {
    display: flex;
    flex-wrap: wrap;
}

.insight_tab:not(:last-child){

    border-right: unset;
}

.subscribe_fluid_wrapper {
    padding: 40px 0;
}
.subscribe_fluid {

    padding: 30px 20px 40px 20%;
    background-image: url("../images/subscribe.jpg");
    background-repeat: no-repeat;
    background-size: cover;

   
}
.subscribe_box {

    max-width: 450px;
    width: 100%;
    .subscribe_text {
           margin: 5px 0 20px;
    }
    form {
        position: relative;
    }

button {
      position: absolute;
    top: -3px;
    right: 0;
    z-index: 10;
    background-color: #17004C;
    border: none;
    padding: 9px 28px;
    cursor: pointer;
    outline: none;
}
    input{
        color: $text-color;
        padding: 5px 5px 11px 15px;
        border-bottom: 1px solid $text-color;
        width: 100%;
        background-color: transparent;

        &::placeholder{
            color:$text-color;
        }
    }

    * {
        color: $text-color;
    }
    .subscribe_box_title {

        * {
            @include family(title);
            font-size: 28px;
        }
    }


    .subscribed{
        padding: 8px 14px;

        span{
            color:#058809 ;
        }
    }

    .disable{
        display: none;
    }
}


.bordered_title {


    border-bottom: 1px solid $text-color;
    border-top: 1px solid $text-color;
}
.main_title:after {
    top: 49%;
}


 

  .main_title.unborder {


    &:after{
        content:unset !important;
    }

  }

.share_click {
    position: relative;
    
    &:hover{
        .share_box_inner {
            display:block !important;
        }
    }
}

  .share_box_inner {
 position: absolute;
    top: -99px;
    left: 50%;
    background: #fff;
    padding: 15px;
    z-index: 10;
    display: none;
    transform: translateX(-50%);
    border-radius: 5px;
    line-height: 25px;
    max-width: 110px;

    span:hover{
        border-bottom: 1px solid #643695;
        cursor: pointer;
        color: #643695;
    }



    &:after{
content: "";
    background-color: #fff;
    width: 13px;
    height: 13px;
    position: absolute;
    top: calc(100% - 10px);
    left: 45px;
    transform: rotate(
45deg
);
    }

    &:before{
       height: 12px;
    width: 100%;
    position: absolute;
    top: calc(100% + 1px);
    content: "";
    left: 0;
    background-color: transparent;
    }
  }


 
  .team_container .slick-dots{
      display: none  !important;
  }


  .slick-dots{
    bottom: -35px;

    li{
        margin: 0 5px;
    }
}


.product_slider{


    .slick-dots {
        bottom: 15px;
    }


    .slick-dots li.slick-active button:before{
        border-radius: 50%;
        color: white;
        border: 1px solid white;
    }
    
    .slick-dots li button:before {
        opacity: 1;
        font-size: 30px;
        color: white;
    
        
    }
}

