.breadcrumb{
    @include family(text);
    background-color: unset;
    padding: 0;
    justify-content: center;

    
    li:not(:last-child):after {
        content: url(../../images/Path.png);
        padding: 0 15px;
    }
	
    a{
        color: $text-color;
        font-size: 16px;
    }
    
  
}


.main_title{
    padding: 20px;
    line-height: 30px;

    span{
        color: #17004C;
        font-size: 38px;
        @include family(title);
    }

    &:after{
        content:"";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -2px;
        width: 8px;
        height:100%;
        background-color: $text-color;
    }


}