
.header {

	background-color: $bg-color;
	padding: 20px 10px;

	.header_container {
		max-width: 1300px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.header_right {
		display: flex;
		align-items: center;
		nav {

			ul {
				display: flex;
				margin-bottom: 0;

				li {
					&:not(:last-child){
						margin-right: 30px;
					}
					a {
						@include family(title);
						font-size: 15px;
						color: $text-color;
					}
				}
			}
		}

		.header_search {
			margin: 0 15px 0 30px;
			cursor: pointer;
		}

		.language_bar {

			.language_dropdown {

				border: 1px solid $border-color;
				border-radius: 20px;
				    padding: 6px 7px;
				display: flex;
				align-items: center;
				justify-content: center;
				background: #fff;
				cursor: pointer;

				span {
					margin: 0 10px;
					@include family(text);
					font-size: 16px;
				}

				.language_dropdown_img {

					margin-right: 5px;
				}
			}
		}
	}
}