.news_container{
    padding: 2% 4%;
    max-width: 1000px;
    margin: 0 auto;

    .insights_page_title{
        text-align: center;
    }


    .main_news{
        margin: 40px auto;
        position: relative;

        .main_title {
           padding: 7px 0 15px 21px; 
        }
        .news_info{
            display: flex;
            align-items: center;
            padding-bottom: 15px;

            .common_share_boxes{
                margin-top: unset;
            }


            span{
                padding: 0 20px;
                position: relative;
                

                &:not(:first-child):before {
                    content: "";
                    position: absolute;
                    left: 6px;
                    width: 20px;
                    height: 1px;
                    transform: translate(-12px, 11px);
                    background-color: $text-color;
                }
            }


           
        }

    }

    .main_news_img{
        
        img{
            max-height: 440px;
            width: 100%;
        }
    }

    .main_news_text{
        padding-top:30px;
        color: $text-color;

        h4{
            text-align: inherit !important;
        }
        
    }



    
}

.main_news_text{ 
    color: $text-color;
}

.product_section .main_news_text{
    padding-top:10px;
    border-bottom:1px solid $border_color
}

.page_container{
    border-bottom: 1px solid $text-color;
    max-width: 1100px;
}


.insights_subscribe{
    width: 100%;
    background: #41AD49;
    position: fixed;
    bottom: 0;
    z-index: 999;
    

    .subscribe_box{
        max-width: 60%;
        width: 100%;
       
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 30px 10px;
        position: relative;

        .exit{
            position: absolute;
            top: 35px;
            right: -25px;
            cursor: pointer;
            padding: 3px;

        }


        input{
            padding: 8px 5px 11px 15px;
        }

        .subscribe_box_title{

            span{
                color: white;

            }
        }

        .bg_form{
            color: white;
            input{
                border: 1px solid white;
            }

            

            .multiselect{
                
                border: 1px solid white;

                select{
                    color: white;
                   
                }

                label{
                    color: white;
                }
            }

            button{
                background-color: unset;
                border: 1px solid white;
                cursor: pointer;
            }
        }

        .subscribe_form{
            width: 70%;

            .exit{
                position: absolute;
                right: -40px;
                top: 5px;

                img{
                    padding: 5px;
                    cursor: pointer;
                }
            }

        }

        .subscribed{
            span{
                color:white;
            }
        }


    }

    .subscribe_box button{
        background-color: white;
    }

    .subscribe_box input{
        border-bottom:1px solid white;
        color: white;

      
        &::placeholder{
            color:white;
        }
    }
}

.latest_news{
    padding: 50px 40px;


    .share_click{
         max-width: 40px;

        .share_box_inner {
          
            left: 10px !important;
            padding: 8px;
            max-width: 100px;
        }
       
    }


  
        
    

    .news_title{
        

        &:after{
            display: none;
        }
    }

    .insights_title{
        text-align: center;

        &:after{
            display: none;
        }
    }

    

    

    
   

    
}

.insights_page_title{
    &:after{
        display: none !important;
    }
}

.news_page{
    padding: 50px 0 20px;
    padding: 2%;
    justify-content: center;

    .news_section {
        margin: 10px !important;
        max-width: 31% !important;
 
    }
}

.d_flex{
    display: flex;
    flex-wrap: wrap;
    

    .news_section{
        border: 1px solid $text-color;
        max-width: 33%;
        margin-bottom: 20px;
        transition: all .3s;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .common_share_boxes{
            margin-top: 0;
        }

        .news{
            position: relative;
            padding-left: 30px;

            
            .bold{
                min-height: 70px;
                overflow: hidden;
                max-height: 72px;
            }
            

            .share{
                position: absolute;
                bottom: -14px;
            }
        }

        .latest_news_info{
            padding:30px 40px 30px 30px;
            color: $text-color;
        }

        .news_date{
            display: flex;
            justify-content: space-between;
            padding: 0 30px 15px;
        }
        .news_img{
            position: relative;

            .news_main_img {
                 img{
                width: 80%;
                object-fit: cover;
                height: 300px;
            }  
            }
           
        }

        &:hover{
            background:#F1F1F1 ;
        }
    }
}s


.product_container{
    .main_img{
        img{
            width: 100%;
            height: 400px;
            object-fit: cover;
        }
    }

    .product_section{
            max-width: 1000px;
            margin: 0 auto 0px;
            position: relative;
            padding-bottom: 30px;

        .product_breadcrumb{    
            position: absolute;
            top: -55px;
            background: white;
            padding: 5px 10px;
            border-radius: 0;
        }

        .main_title{
            position: relative;
            padding: 10px 15px;
            margin: 25px 0;
        }

        .main_news_text{
            color: $text-color;
        }
    }
}

 .product_section{
            max-width: 1000px;
    margin: 0 auto 0px;
    position: relative;
    padding-bottom: 20px;

        .product_breadcrumb{    
            position: absolute;
            top: -55px;
            background: white;
            padding: 5px 10px;
            border-radius: 0;
        }

        .main_title{
            position: relative;
            padding: 10px 15px;
            margin: 25px 0;
        }
    }


.team_member_container{

    margin-top: 50px;

    .team_member{
        display: flex;


      

        .member_link img{
            max-width: 350px;
            width: 100%;
            height: 100%;
            object-fit: cover
        }

        .main_news{
           padding-left: 15px;


           .share{
               margin: 40px 0;
           }


            .main_title{
                position: relative;
                padding: 0 15px;
                /*height: 69px;*/
                overflow: hidden;
    
                .bold{
                    color: $text-color;
                    font-size: 27px;

    
                }
    
                span{
                    font-size: 14px;
                }
            }


            .competence{

                .comp_text{
                    line-height: 30px;
                    display: flex;
                    flex-wrap: wrap;

                    span {

                        flex: 0 0 50%;
                        max-width: 50%;
                        font-weight: bold;

                        a{
                            color: #17004C;
                        }
                    }
                }

                h3{
                    @include family(title);
                    color: $text-color;
                    font-size: 28px;
                    padding-bottom: 10px;
                }

                span{
                    @include family(title);
                    color: $text-color;
                    padding-right: 20px;
                };
            }

            .competence_mobile{
                display: none;

               
            }
        }

        
    }


    .competence_mobile{
        display: none;
        
        h3{
            @include family(title);
            color: $text-color;
            font-size: 28px;
        }

        span{
            @include family(title);
            color: $text-color;

            a{
                color: #17004C
            }
        };

        .competence_text{
            display: flex;
            flex-direction: column;
            line-height: 30px;
        }
    }

    .biography{
        width: 85%;
        margin: 0 auto;

        .bold{
            font-size: 28px;
        }

        .text{
            margin-top: 20px;
            color: $text-color;
        }
    }

    .slider_title:after{
        display: none;
    }

    .team_slider2{
        .slick-slide{
            height: 550px;
        }
    }

    .team_slider, .team_slider2{

        .slick-slide{
            border: 1px solid $text-color;
            background: white;
            display: flex;
            flex-direction: column;
            padding: 20px;
            transition: 0.3s;
            position: relative;
            


            a{
                overflow: hidden;
                width: 100%;
                max-height: 350px;
           

                img {
                    transform: scale(1.1); 
                    transition: 0.3s;
                    width: 100%;
                 }
            }

           


            .bold{
                a{
                    color: $text-color;
                    font-weight: bold;
                }
    
                
            }
         

            
            &:hover{
                background-color: $light-purple;
                    .member_link {

                        img {
                           transform: scale(1); 
                        }
                    }

                .member_info{
                    h4{ 
                        color: white;

                        a {
                        color: white;
                           
                        }
                    }

                    &:after{
                        background-color: white;
                    }

                } 

                span{
                    color: white;
                }

                .link_arrow_box{
                    opacity: 1;
                }

                
            }
        }

        .member_info{
            position: relative;
            padding: 0 15px;
            margin-top: 30px;
            color:$text-color;
            
        }

        span{
            font-size: 16px;
        }

        
    }

    
    .about_img{
        border: 1px solid $text-color;
        padding: 20px;

        img{
            width: 100%;
            max-height: 400px;
        }
    }

    .about_text{
        margin: 0px auto 70px;
    }

    
}


.latest_news .d_flex .news_section .news_date {
   
   * {
   color:$text-color;
   }
}


.link_arrow_box {

    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 10;
    opacity: 0;
    transition: all .3s;
    img {
        width: 30px;
        height: 25px;
        object-fit: contain;
    }
}

.home_news .news_section:hover {

    background-color: #fff;

    .news_info .share {
        border-color: $bg-color;
    }
}

.news_info .share {
   display: flex;
   align-items: center;
   padding-right: 7px;
   

   a{
       padding: 5px 0;
       color: $text-color !important;

       img{
        padding-right: 5px;
       }
   }

   .share_box_inner {
    padding: 10px !important; 
    max-width: 130px !important;
}
}

.news_section {

    &:hover{
        .link_arrow_box {

        opacity:1;
        }

    }
}


.error_page{
    position: relative;
    height: calc(100vh - 358px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 23%;
    background-color: #F1F1F1;
    color: #17004C;
    padding-bottom: 5%;
    min-height: 500px;

    .main_title{
        padding: unset;

        .bold, span{
            font-size: 42px;
        }

       

        &:after{
            display: none;
        }
    }

    .error{
        img{
            margin-left: 30px;
        }
    }

    .home_button{
        margin-top: 40px;

        a{
            color: $text-color;
            border: 1px solid $text-color;
            padding: 15px 25px;
            font-size: 18px;
            background: white;
            transition: .3s;

            &:hover{
                background: $light-purple;
                color:white
            }
        }
    }

    .b_img{
        position: absolute;
        top: -80px;
        right: -60px;

        img{
            height: 60vh;
        }
    }
}


.company_button{
    padding-top: 40px;
    background-color: #F1F1F1;
    padding-bottom: 14px;
    text-align: center;
    padding-bottom: 40px;


    a{
        color: $text-color;
        border: 1px solid $text-color;
        padding: 15px 25px;
        font-size: 18px;
        background: white;
        transition: .3s;

        &:hover{
            background: $light-purple;
            color:white
        }
    }
}



.search_result{
    transform: unset !important;
    position: unset !important;
    width: unset !important;
    height: unset !important;
    padding: 30px 0px;

    .main_search_container{
        width: 80% !important;
        max-width:unset !important;
        

        .main_search_title{
            text-align: center;
            color: $text-color;
            width: 100%;
            border-bottom: 1px solid $text-color;
            padding-bottom: 30px;
    
            span{
                font-size: 16px
            };
    
           
        }

        form{
            width:50%;
            margin-top: 80px;
        }

    }

    
}


.team_member_container .team_member .main_news .news_info{
    max-height: 21px;
    overflow: hidden;
}


.search_container{
    padding: 3%;

    .news_section{
        margin-bottom:unset;
    }
}



.team_member_container>.team_member {


  .member_link {
                max-width: 280px;
            max-height: 365px;
            width: 100%;
        }

    }



    .team_member_container .team_slider2 .slick-slide{
        height: 550px;
    }

    @media only screen and (max-width: 992px){
        .team_member_container .team_slider2 .slick-slide{
            height: unset;
        }
    }


    .project-page{

        .project-bottom{
            margin: 40px 0;


            .d-flex{
                display: flex;

                .pb-image{

                    width: 60%;
                    overflow: hidden;
                    margin-right: 15px;

                    img{
                        width: 100%;
                        object-fit: contain;
                    }

                }

                .pb-text{
                    width: 100%;
                   
                }
            }


        }

        .links{

            ul{
                display: flex;
                flex-wrap: wrap;
                line-height: 40px;
                list-style: none;
                margin-left: unset;

                a{
                    padding: 5px 10px;
                    background-color: white;
                    border: 1px solid #17004C;
                    border-radius: 0;
                    outline: none;
                    color: 17004C;
                    color: #17004C;
                    transition: .3s;
                    margin-right:5px;
    
                    &:hover{
                        color: white;
                        background-color: #17004C;
                    }
                }
            }
           
        }
        .common_share_boxes {
            margin-top: 0;
            margin-left: 20px;

            .share_box_inner{
                background: #F1F1F1;
                max-width: unset;
                top: -110px;
                left:80%;


                span:before{
                    display: none;
                }

                &:after {
                    content: "";
                    background-color: #F1F1F1;
                    top: calc(100% - 7px);
                    left: 55px;
                   
                }
            
            }
        }

        .project-page-title{
            
            margin: 15px 0 ;


            h3{
                font-size: 28px;
                font-weight: bold;
                color: #17004C;
            }
          
        }

        .nav-tabs{
            margin-left: unset;
            border-bottom:unset;
            color: #17004C;

            .nav-tab-li{
                color: #17004C;
                padding-right: 10px;
            }

            .nav-button{
                padding: 5px 10px;
                background-color: white;
                border: 1px solid #17004C;
                border-radius: 0;
                outline: none;

            }

            .active{
                background-color: #17004C;
                color: white;
               
            }
        }


        .tab-content{
            display: flex;
            margin-top: 15px;
           

            .tab-left{
                position: relative;
                padding-right: 15px;
                max-width: 70%;
               

                .tab-text{
                    margin-bottom: 20px;
                }
            }



            .tab-right{
                min-width: 240px;
                padding:  20px;
                position: relative;
                height:fit-content;


                .tab-right-text{
                    padding: 10px 0;
                }

                .bold{
                    font-weight: bold;
                }

                &:after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0px;
                    width: 4px;
                    height: 100%;
                    background-color: #17004C;
                }
            }
            
            
            
        }

      
        .page-textbox{
            margin-top: 20px;
        }

    }