.office_section{
    background: $bg-color;
    padding-bottom: 150px;


    .main_title:after{
        display: none;
    }


    .page_container {
        margin-bottom: 50px;
    }

   
}

.office-container{
    width: 65%;
    margin: 15px auto 0;
    background: $text-color;

    .office_box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 40px;
        cursor: pointer;


       span{
        color: white;
        font-size: 28px;
        @include family(text);
        font-weight: bold;
       }

       img{
           transition: .4s;
       };

       .rotate{
           transform: rotate(180deg);
       
       }
        
    }

  
}



.office_info{
    width: 65%;
    margin: 0 auto;
    background: white;
    padding: 30px 60px;
    color: $text-color;
    display: flex;
    flex-direction: column;
    line-height: 25px;
    display: none;

    .main_text{
        font-size: 22px;
    }

    a{
        color: $text-color;
    }


    .map_button{
        
        margin-top: 30px;
       

        a{
            font-size: 22px;
            border: 1px solid;
            padding: 15px 30px;
            transition: .3s;

            &:hover{
                color: white;
                background: $text-color;
            }
        }

       
    }
}

.active{
    display: block;
}

// .vacancy_container{
//     width: 90%;
//     margin: 0 auto;

//     .main_logo{
//         position: absolute;
//         top: 0;
//         width: 90%;
//         text-align:center;
//         padding: 20px;

//         img{
//             height: 60px;
//         }
//     }

//     .news_container{

//         .date{
//             text-align: end;
//             margin-top: 20px;
//         }

//         .button{
//             text-align: center;
//             margin-top:50px;

//             a{
//                 color: $text-color;
//                 padding: 15px 45px;
//                 border: 1px solid $text-color;
//                 font-size: 18px;
//                 transition: .3s;

//                 &:hover{
//                     background: $text-color;
//                     color: white;
//                 }
//             }
//         }

//         .share_button{
//             display: flex;
//             justify-content: center;
//             margin-top: 70px;

//             a{
//                 margin: 8px;
//             }
//         }


//         .vacancy_footer{
//             display: flex;
//             flex-direction: column;
//             text-align: center;
//             margin: 50px 0;
//             line-height: 30px;
//         }
//     }

   
// }




.vacancy_container .main_title:after {
    height: 100%;
}


.product_container  .main_img{
    width: 100%;
    overflow: hidden;

    img{
  
        width: 100%;
        max-height: 70vh;
    }
    


}




.whatsapp_icon{

    svg{
        width: 100% !important;
        height: 100% !important;
        fill:$text-color !important;
        background: white;
        border-radius: 50%;

        &:hover{
            fill:white !important;
            background:$text-color;
        }
    }
}


.common_dropdown{
    background: $bg-color;
    padding-bottom: 30px;


    .office-container {
        margin: 0 auto;
        background: unset;
        max-width: 1000px;
        width: unset;
        border-bottom: 1px solid #D5D5D5;

        .office_box{

            span{
                font-size: 22px;
                color: $text-color;
            }
        }
    }

    .office_info {
        width: unset;
        max-width: 1000px;
        margin: 0 auto;
        background: $bg-color;
        padding: 20px 35px;

    }
    
}



.products_bottom_content {
    .team_member_container {
    margin-top: 0;
}

.team_member_container.c_container {

    padding-bottom: 50px;
}

}

.insight_tabs_container  {

    .main_title:after {
        content:unset;
    }
}